* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-image: url(naruto.jpg);
    background-size: cover;
    background-position: top center;
}

header {
    padding: 1rem 0.8rem;
    display: flex;
    color: white;
    background-color: black;
}
.menu {
    width: auto;
    height: auto;
    position: relative;
    align-items: center;
    margin: 0 auto;
    
}
a {
    text-decoration: initial;
    text-align: center;
    color: white;
}
p{
    font-size: 20px;
    padding: 2rem 0;
    margin: 0 5%; 
}
h2 {
    text-align: center;
    font-size: 30px;
}